mixin about()
  .about 
    .about__body.container
      h2.about__title О нас
      .about__row 
        p.about__p.about__item Приглашаем вас в самое классное место отдыха в нашем городе и окрестностях. Оно находится в самом центре нашего любимого города и при этом вдали  жилых домов, что дает возможность пошуметь. 
        p.about__p.about__item Приглашаем вас в самое классное место отдыха в нашем городе и окрестностях. Оно находится в самом центре нашего любимого города и при этом вдали  жилых домов, что дает возможность пошуметь. 