mixin about()
  .about 
    .about__body.container
      h2.about__title О нас
      .about__row 
        p.about__p.about__item Приглашаем вас в самое классное место отдыха в нашем городе и окрестностях. Оно находится в самом центре нашего любимого города и при этом вдали жилых домов, что дает возможность пошуметь. 
        .about__item
          .about__slider
            .about__slider-item
              img(src="images/slider-1.webp", alt="")
            .about__slider-item
              img(src="images/slider-2.webp", alt="")
            .about__slider-item
              img(src="images/slider-3.webp", alt="")
            .about__slider-item
              img(src="images/slider-4.webp", alt="")
            .about__slider-item
              img(src="images/slider-5.webp", alt="")
            .about__slider-item
              img(src="images/slider-6.webp", alt="")
            .about__slider-item
              img(src="images/slider-7.webp", alt="")
            .about__slider-item
              img(src="images/slider-8.webp", alt="")
            .about__slider-item
              img(src="images/slider-9.webp", alt="")
            .about__slider-item
              img(src="images/slider-10.webp", alt="")