mixin header()
  .header#header 
    .header__nav
      a(href="#!").header__logo Loft4you
      ul.header__list   
        li.header__li 
          a(href="#!").header__link.active Главная
        li.header__li 
          a(href="#!").header__link О нас
        li.header__li 
          a(href="#!").header__link Прейскурант
        li.header__li 
          a(href="#!").header__link Правила посещения
        li.header__li 
          a(href="#!").header__link Отзывы
        li.header__li 
          a(href="#!").header__link Контакты
      .header__row 
        img(src="images/tel.webp", alt="tel").header__img
        .header__col 
          a(href="tel:+0672715865").header__tel (067) 271 58 65
          a(href="tel:+0995379122").header__tel (099) 537 91 22
