mixin intro()
  .intro#intro 
    .intro__body.container 
      .intro__right 
        h2.intro__title Баня с караоке
        p.intro__p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam
        a(href="#form").intro__btn Забронировать
  a(href="#about").intro__arrow 
    svg(width="24" height="82" viewBox="0 0 24 82" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M10.9393 81.0607C11.5251 81.6464 12.4749 81.6464 13.0607 81.0607L22.6066 71.5147C23.1924 70.9289 23.1924 69.9792 22.6066 69.3934C22.0208 68.8076 21.0711 68.8076 20.4853 69.3934L12 77.8787L3.51472 69.3934C2.92893 68.8076 1.97918 68.8076 1.3934 69.3934C0.807608 69.9792 0.807608 70.9289 1.3934 71.5147L10.9393 81.0607ZM10.5 -6.63867e-08L10.5 80L13.5 80L13.5 6.63867e-08L10.5 -6.63867e-08Z" fill="white")