mixin prices()
  .prices 
    .prices__body.container 
      h2.prices__title Прейскурант
      .prices__row
        .prices__p Цена за час аренды Loft с 10:00 до 18:00 - <span class="orange">300 грн</span> <br>Цена за час аренды Loft с 18:00 до 24:00 - <span class="orange">350 грн</span> <br>Цена продленного часа - <span class="orange">250 грн</span> <br>Цена за сутки/ночь в будние дни - <span class="orange">1500 грн</span> <br>Цена за сутки/ночь в выходные дни - <span class="orange">1700 грн</span> 
        .prices__p Максимальная вместительность <span class="orange">6-10 человек</span> (дети до 5 лет бесплатно) <br> Минимальный заказ 2 часа. Продление минимум час <br><br><span class="orange">Дополнительно:</span> <br>Полотенца, одноразовые тапки, а также содержимое мини-бара по прайсу.
      a(href="#form").prices__btn Забронировать 
