mixin reviews()
  .reviews#reviews
    .reviews__body.container 
      h2.reviews__title Отзывы
      .reviews__row
        .reviews__item
          .reviews__item-row 
            .reviews__item-row2
              h3.reviews__item-title Владислав
              img(src="images/stars.webp", alt="star").reviews__item-img
            p.reviews__item-date 15.03.2021 в 15:00
          p.reviews__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, condimentum ultrices odio nibh velit consectetur quam id. Nibh ornare sollicitudin viverra amet faucibus eni.
        .reviews__item
          .reviews__item-row 
            .reviews__item-row2
              h3.reviews__item-title Владислав
              img(src="images/stars.webp", alt="star").reviews__item-img
            p.reviews__item-date 15.03.2021 в 15:00
          p.reviews__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, condimentum ultrices odio nibh velit consectetur quam id. Nibh ornare sollicitudin viverra amet faucibus eni.
      .reviews__row
        .reviews__item
          .reviews__item-row 
            .reviews__item-row2
              h3.reviews__item-title Владислав
              img(src="images/stars.webp", alt="star").reviews__item-img
            p.reviews__item-date 15.03.2021 в 15:00
          p.reviews__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, condimentum ultrices odio nibh velit consectetur quam id. Nibh ornare sollicitudin viverra amet faucibus eni.
        .reviews__item
          .reviews__item-row 
            .reviews__item-row2
              h3.reviews__item-title Владислав
              img(src="images/stars.webp", alt="star").reviews__item-img
            p.reviews__item-date 15.03.2021 в 15:00
          p.reviews__item-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci, condimentum ultrices odio nibh velit consectetur quam id. Nibh ornare sollicitudin viverra amet faucibus eni.