mixin you()
  .you 
    .you__body.container 
      h2.you__title Что можно в Loft4you?
      .you__row 
        .you__item 
          h3.you__item-title Романтическое свидание
          p.you__item-p Смотрите кино, парьтесь, пойте только вдвоем, в романтической обстановке.
          img(src="images/rose.webp", alt="rose").you__item-img
        .you__item 
          h3.you__item-title Караоке битвы
          p.you__item-p Удивите своих друзей и коллег своими вокальными данными и пойте от души всю ночь напролет.
          img(src="images/microphone.webp", alt="rose").you__item-img
        .you__item 
          h3.you__item-title Шумные вечеринки
          p.you__item-p Собирайте тусовки до 10 человек. <br>Станьте настоящим королем вечеринок.
          img(src="images/globus.webp", alt="rose").you__item-img
        .you__item 
          h3.you__item-title Дни рождения 
          p.you__item-p Отпразднуйте свой день рождения незабываемо. <br>Ваши гости останутся в восторге.
          img(src="images/happy.webp", alt="rose").you__item-img
      p.you__p Можно приходить со своей едой и напитками.