doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    +header
    include components/intro.pug 
    +intro
    include components/about.pug 
    +about
    include components/you.pug 
    +you
    include components/prices.pug 
    +prices
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
    script(src="scripts/index.js") 